
/Unity/Library
/Unity/Library
Unity/Library/PackageCache/com.meta.xr.simulator@65.0.0/MetaXRSimulator/.synth_env_server/synth_env_server_Data/Managed/System.Data.dll
Unity/Library/PackageCache/com.meta.xr.simulator@65.0.0/MetaXRSimulator/.synth_env_server/synth_env_server_Data/Managed/System.Core.dll
Unity/Library/PackageCache/com.meta.xr.simulator@65.0.0/MetaXRSimulator/.synth_env_server/synth_env_server_Data/Managed/System.Data.DataSetExtensions.dll
/Unity/Temp
/Unity/Library
/Unity/Logs
/Unity/Logs
/Unity/Library
